<h1> Users </h1>

<table>
  <tr>
    <td> user.id </td>
    <td> user.login </td>
    <td> user.email </td>
    <td> user.birthday </td>
  </tr>  

  <% @users.each do |user| %>

  <tr>
    <td> <%= user.id %> </td> 
    <td> <%= link_to(user) do %> <strong> <%= user.login %> </strong> <% end %>  </td>
    <td> <%= user.email %> </td>
    <td> <%= correct_date(user.birthday) %> </td>

    <td> <%= link_to "Edit", edit_user_path(user) if current_user?(user) || current_user.try(:admin) %> </td> 

         <% if current_user.try(:admin) %>
    <td> <%= link_to "Delete", user_path(user), method: :delete,  
             data:{confirm: "Are you sure?"} %> </td>
    <td> <%= link_to 'Make Admin', make_admin_path(user),
         data:{confirm: "Are you sure?"} %> </td>
    <td> <%= link_to 'Remove Admin', remove_admin_path(user),
         data:{confirm: "Are you sure?"} %> </td>
         <td> <%= link_to 'Make Moder', make_moder_path(user),
         data:{confirm: "Are you sure?"} %> </td>
    <td> <%= link_to 'Remove Moder', remove_moder_path(user),
         data:{confirm: "Are you sure?"} %> </td>
    </tr>
         <% end %>
  <% end %>
</table>


